# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
# varaible_name=value

number=6
print (number)
print(type(number))

new_number = 8
print (new_number)
print(type(new_number))

6
<class 'int'>
8
<class 'int'>

##### Assinging float

In [2]:
num_float = 4.7

print(num_float)
print(type(num_float))

another_float=6

print(another_float)
print(type(another_float))

4.7
<class 'float'>
6
<class 'int'>

#### Performing Calculations on ints and floats

##### Addition

num1= 3
num2= 5
result = num1 + num2 

print(result)
print(type(result))

#int + int =int
#float+float=float
#int + float = float

In [3]:
#short hand version
result+=2 # result = result(current value

NameError: name 'result' is not defined

##### Subtraction

In [5]:
dif = num2 -num1 
print (diff)

#short-hand version
diff =1 diff= diff -1 

print (dif)

SyntaxError: invalid syntax (<ipython-input-5-5f3ad5ce66ec>, line 5)

werid_result=5.4 -2
print (weird_result)

##### Multiplication

In [6]:
product= num1 * num2

#short hand version
product *=2 #product *2
print (product)

NameError: name 'num1' is not defined

##### Division

In [7]:
quotient = num2/num1
print (quotient)

quotient /=2 # quotient =quotient /2
print(quotient)

NameError: name 'num2' is not defined

In [8]:
num3 =15
num4=5
print(type(num3)) ,type(num4)
print (num3/num4)

<class 'int'>
3.0

##### Floor Division

In [9]:
result_floor=100//3
print(result_floor)

#short hand version
result_floor //=2 #result_floor =result_floor //2
print(result_floor)

33
16

##### Modulo

In [10]:
#returns the remaineder of the operation
result_mod= 29%5
print(result_mod)

result_mod %=3 # result_mod = result_mod %3
print (result_mod)

4
1

In [ ]:
square=5 **2
print(square)
#short-hand version
square**=2 # square=square **2
print(square)

square_root= 625 **(1/2)
print(square_root)

In [22]:
square_root= 625 **(1/2)
print(square_root)

25.0

##### Exponential

### String Input-Output

##### String Assignment

In [12]:
name="Gerardo"
print(name)
print(type(name))

Gerardo
<class 'str'>

In [13]:
possessive_string="Brian's House"
print(possessive_string)

Brian's House

In [14]:
string_number="123"
print(string_number)
print(type(string_number))

123
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [15]:
print("First Name", name, "Last Name", last_name)

NameError: name 'last_name' is not defined

##### String Concatenation

In [16]:
city ="Chicago"
state="Illinois"

hometown= city + ',' + state
print(hometown)

#short hand version
hometown += ", United States of America" #hometown = hometown+USA
print (hometown)

Chicago,Illinois
Chicago,Illinois, United States of America

##### Type Conversion

In [17]:
some_num=55
string_num="75"
add = some_num + string_num
print(add)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
print(type(string_num))
changed_num=int(string_num)
print(changed_num)
print(type(changed_num))
changed_again=float(changed_num)
print(changed_again)
print(type(changed_again))

<class 'str'>
75
<class 'int'>
75.0
<class 'float'>

In [19]:
some_string="123.234"
changed = float(some_string)
print(changed)

123.234

In [20]:
some_number =3846
num_as_string=str(some_number)
print(type(num_as_string))

<class 'str'>

##### input()

In [ ]:
#input is a built-in function that will assk the end-user for input
#INPUT WILL AWALAYS RETURN A STRING 

age=input("what is your age")
print(age)
print(type(age))

add_age= int(age)+5
print(add_age)

##### format()

In [ ]:
name= input("what is your name?")
age = input("what is your age")

greeting = "Hello my name is {} and I am {} years old." .format(name,age)
print(greeting)

### F-STRING

In [ ]:
name= input("what is your name?")
age = input("what is your age")

greeting2= f"Hello my name is {name} and I am {age} years old."
print(greeting2)

In [ ]:
concat_string="Hello my name is "+ name + " and I am " + age + " years old. "
print(concat_string)

In [ ]:
old_greetings= "Hello my name is % and I am %'s years old" (name,age)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
# Output: "My car is a blue 2021 Chevy Camero"
year=input("What is the year of your car?")
color=input("What is the color of your car?")
make=input("What is the make of your car?")

mycar= f"MY car is a {color} {year} {make}"
print(mycar)

IF STATEMENTS

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
if num2 > num1:
       print('the condition is true')
print('finished')

In [ ]:
if 5 > 3 and 15 < 5 and 100 > 1 and 50 > 50:
    print('All conditions are true')
if 5 > 5 or 15 < 5 or:
    print("Atleast one condition is true")

##### 'is' keyword

In [ ]:
# use teh 'is' keyword when checking for some/similiar objects, NOT some cavalue

list1=[1,2,3]
list2=[1,2,3]
list3 = list1

if list1== list2:
   print('The value are the same')
    
if list1 is list2:
        pring('THese refrences the same')
if list1 is list3:
    print('These refrences the same object')

In [ ]:
print(id(list1))
print(id(list2))
print(id(list3))

##### 'in' keyword

In [ ]:
char_name="Max Payne"

"May" in char_name

if 'y' in char_name:
    print("The character who lost everything...")

##### 'not in' keyword'

In [ ]:
'z' not in char_name
print('the letter z is not in character name...')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
name = input("What is your name?")
if 'p' in name:
    print("your name has a p in it")   
if 'p' not in name:
    print("your name does not have p in it")

## Using 'and'/'or' with If Statements

### Elif Statements

In [ ]:
get_in_price=10
age_of_customer=int(input("what is your age?"))
if age_of_customer > 75:
    print("You qualify for senior discount of 25% off!")
    get_in_price *=.75
#elif will only run if the condition DIRECTLY ABOVE evaluated to false
elif age_of_customer > 50:
    print("You qualify for the junior discoint of 10%!")
    get_in_price *=.99
get_in_price=10
age_of_customer=int(input("what is your age?"))
if age_of_customer > 75:
    print("You qualify for senior discount of 25% off!")
    get_in_price *=.75
    print("You qualify for the junior discoint of 10%!")
    get_in_price *=.99

print (f"thank you for you purhase, you owe ${get_in_price}")

### For Loops

In [ ]:
name = "Gerardo Montalvo"
# name_iter = name __iter__()
# name_iter._next_()

# for :iter_var in interable:

for letter in name:
    print(letter)

In [ ]:
for x in range(20,50,2)
print(x)

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
print('Loop Started')
for i in range(20)
if 1== 5:
    continue
    print(i)
print('Loop Finished')

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
print('Loop Started')
for i in range(20)
if 1== 5:
    break
print('Loop Finished')

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
print ('Loop Started')
for i in range(20)
    if i==5:
        pass #TODO Come back and finish implementation 
    print (i)
    
print ('Loop Started')

##### Double For Loops

In [ ]:
num = 3 
for i in range(3):
    for j in range(num)
    print(f"i"={i}, f"j={j})

### While Loops

In [ ]:
#Syntex: while "conditional statements"

num=0
while num<10 :
    print(num)
    num+=1

In [ ]:
print ('Loop Started')
name= input("what is your name")
while name != "Brian" :
    print ("That is an inferior name")
    name = input("{Please try again. What is you name?}")
    print("Loop finished")

##### Looping 'While True'

In [ ]:
while true:
    ask = input("would you like to quit? y/n")
    if ask.lower()=='y' :
    break
    print('Continue Looping')

##### While & For Loops Used Together

In [ ]:
num = 0 
while num < 5 :
    print(f'While Loop Interation:{num}')
    for i in range(3)
    print(f'For Loop Interation:{i+1})
    print()
    num +=1

### Built-In Functions

##### range()

In [ ]:
# range(stop) -start will defult to 0 and step will default to 1 = 0, 1, ..., Stop-1
# range(start,stop) - stop will default to 1 == start, started, start+2,...stop-1
#range(start,stop,step) == start,start +step start
#start is INCLUSIVE, stop is EXLUSIVE
# Step counts by the number inserted. 
for i in range (10,20,2)
 print(i)

In [ ]:
name = "Brian"
for i in range(5):
    print(name[i])

##### len()

In [ ]:
#checks the length of an iterable object

color='orange'
length=len(color)
print(length)
print(type(length))

In [ ]:
for x in range(len(color)):
    print(x,color[x])

##### help()

In [ ]:
# use this function to use more info in a python object (with a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what object family it belongs to
#syntax isinstance (var,obj)
country = 'France'
isinstance(country,str)
if isinstance (5,int):
    print ('This is an int')

##### abs()

In [ ]:
abs(-100)
#away from 0

### Try and Except

In [ ]:
# use whenever we expect to encounter a bug so that the error doesn't cause the program to stop
#Used to log errors gracefully

my_list[1,6,3,6,'7',8,3,2,6]
try:
    total=0
    for num in my_list:
        total += num
        print(total)
except:
    print('there was an error')
    
print('more stuff happens here')

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [23]:
for x in range (1, 11):
    print( x * x * x)


while x >1000:
    break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [24]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1,100,1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
             break
       else:
          print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [33]:
age= int(input("What is your age?"))
if age < 18:
    print("kids")
        
else: age >= 18,65 
print("adults")

What is your age?1
kids
adults