# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
# varaible_name=value

number=6
print (number)
print(type(number))

new_number = 8
print (new_number)
print(type(new_number))

6
<class 'int'>
8
<class 'int'>

##### Assinging float

In [5]:
num_float = 4.7

print(num_float)
print(type(num_float))

another_float=6

print(another_float)
print(type(another_float))

4.7
<class 'float'>
6
<class 'int'>

#### Performing Calculations on ints and floats

##### Addition

num1= 3
num2= 5
result = num1 + num2 

print(result)
print(type(result))

#int + int =int
#float+float=float
#int + float = float

In [10]:
#short hand version
result+=2 # result = result(current value

##### Subtraction

In [8]:
dif = num2 -num1 
print (diff)

#short-hand version
diff -=1 diff= diff -1 

print (dif)

8.0

werid_result=5.4 -2
print (weird_result)

##### Multiplication

In [20]:
product= num1 * num2

#short hand version
product *=2 #product *2
print (product)

30.0

##### Division

In [24]:
quotient = num2/num1
print (quotient)

quotient /=2 # quotient =quotient /2
print(quotient)

1.6666666666666667
0.8333333333333334

In [28]:
num3 =15
num4=5
print(type(num3)) ,type(num4)
print (num3/num4)

<class 'int'>
3.0

##### Floor Division

In [29]:
result_floor=100//3
print(result_floor)

#short hand version
result_floor //=2 #result_floor =result_floor //2
print(result_floor)

33
16

##### Modulo

In [31]:
#returns the remaineder of the operation
result_mod= 29%5
print(result_mod)

result_mod %=3 # result_mod = result_mod %3
print (result_mod)

4
1

In [37]:
square=5 **2
print(square)
#short-hand version
square**=2 # square=square **2
print(square)

25
625

square_root= 625 **(1/2)
print(square_root)

In [38]:
square_root= 625 **(1/2)
print(square_root)

25.0

##### Exponential

### String Input-Output

##### String Assignment

In [39]:
name="Gerardo"
print(name)
print(type(name))

Gerardo
<class 'str'>

In [40]:
possessive_string="Brian's House"
print(possessive_string)

Brian's House

In [42]:
string_number="123"
print(string_number)
print(type(string_number))

123
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [55]:
print("First Name", name, "Last Name", last_name)

NameError: name 'last_name' is not defined

##### String Concatenation

In [54]:
city ="Chicago"
state="Illinois"

hometown= city + ',' + state
print(hometown)

#short hand version
hometown += ", United States of America" #hometown = hometown+USA
print (hometown)

Chicago,Illinois
Chicago,Illinois, United States of America

##### Type Conversion

In [57]:
some_num=55
string_num="75"
add = some_num + string_num
print(add)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
print(type(string_num))
changed_num=int(string_num)
print(changed_num)
print(type(changed_num))
changed_again=float(changed_num)
print(changed_again)
print(type(changed_again))

<class 'str'>
75
<class 'int'>
75.0
<class 'float'>

In [63]:
some_string="123.234"
changed = float(some_string)
print(changed)

123.234

##### input()

<class 'str'>

##### format()

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>